@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: var(--bg-col);
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--bg-col: #f0fafa;
  --font-col: #051414;
  --axis-col: #474d4d;
  --gridline-col: #ADC4C2;
  --skobeloff: #236c6c;
  --burnt-sienna: #e9724c;
  --cadet-blue: #6ca8a8;
  --rust: #9e4a20;
  --wine: #733030;
  --bittersweet-shimmer: #b35757;
  --phthalo-green: #072e25;
  --forest-green: #144218;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-body: 'Noto Sans', sans-serif;
	--font-family-subtitle: 'Fira Sans Extra Condensed', sans-serif;
	--font-family-title: 'Cabin Condensed', sans-serif;
	--codefont: 'Source Code Pro';
}

body {
  font-family: var(--font-family-body);
  font-size: 14px;
  color: var(--font-col);
  background-color: var(--bg-col);
}

.navbar-default .navbar-brand {
  font-family: var(--font-family-title);
}

.navbar-default {
  background-color: var(--bg-col);
  border-color: var(--gridline-col);
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  background-color: var(--gridline-col);
  color: var(--font-col);
}

.well {
  background-color: var(--skobeloff);
  border-color: var(--gridline-col);
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.navbar {
  margin-bottom: 10px !important;
}

label {
  color: var(--bg-col);
  display: flex;
  max-width: 100%;
  margin-right: 0;
}

.awesome-radio {
  display: flex;
  font-size: 12px;
}

.inline-label {
  display: inline-flex;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.form-control.selectize-control {
  display: flex;
  flex-grow: 1;
  min-width: 12vw;
  margin-top: 5px;
  margin-left: 15px;
}

label[for='country-selectized']{
  color: var(--font-col);
}

label[for='case_type-selectized']{
  color: var(--font-col);
}

.callout {
    position: absolute;
    top: -55%;
    left: 0;
    z-index: 999;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0px 1px 2px 1px #05141480;
    width: 120px;
    background: var(--bg-col);
    border-radius: 5px;
   }
   .calloutHeading {
          padding: 5px 10px;
    background: #236c6c80;
    width: 100%;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #05141480;
    color: var(--font-col);
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   }
   .calloutMessage {
          padding: 10px 5px 5px 10px;
    line-height: 1;
    color: var(--font-col);
    font-size: 12px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   }
   
  @media only screen

  and (min-device-width: 375px)

  and (max-device-width: 812px)

  and (-webkit-min-device-pixel-ratio: 3)

  and (orientation: portrait) {

  /* CSS Rules Here */
  .callout {
    bottom: -20%;
    width: 25%;
   }
}


.tbl-subtitle {
  font-family: var(--font-family-subtitle);
  font-weight: 400;
}

.tbl-title {
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: 3rem;
  margin-top: 0;
}


.policy-box, .btn-policy + .sw-dropdown-content > .sw-dropdown-in {
  background-color: var(--skobeloff);
  padding: 8px 14px;
  box-shadow: 0px 0px 15px 0px #c0c0c0;
  margin-top: 10px;
  border-radius: 10px;
  line-height: 1.5;
}

.sw-dropdown {
  margin-top: 5px;
}


.sw-dropdown-content {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
}

.btn-policy {
  border: none;
  background: none;
  text-decoration: underline 2px solid;
  line-height: inherit;
  padding: 0;
}

.btn-policy > .glyphicon {
  display: none;
}